/bin/*
/cache/*
/cfg__/*
/DownloadLists/*
/downloads/*
/materials/*
!/materials/vgui
/materials/vgui/*
!/materials/vgui/logos
/materials/vgui/logos/UI
/materials/vgui/logos/spray.vmt
/materials/vgui/logos/spray.vtf
/maps/*
/models/*
/replay/*
/screenshots/*
/sound/*
!/sound/weapons
!/sound/weapons/sentry_spot_client.wav
*.mov
*.bik
*.ico
*.ttf

*.dem
*.tmp
*.txt
*.cache
*.vdf
*.dem
*.tmp
*.txt
*.cache
*.dmx
*.dt
server.cfg
*.scr
/cfg/config.cfg
/cfg/config_arena.cfg




