bin/
cache/
cfg__/
DownloadLists/
downloads/
maps/
materials/
models/
replay/
screenshots/
sound/


!materials/vgui/logos/
!sound/weapons/sentry_spot_client.wav
*.mov
*.bik
*.ico
*.ttf

*.dem
*.tmp
*.txt
*.cache
*.vdf
*.dem
*.tmp
*.txt
*.cache
*.vdf
*.dmx
*.dt
server.cfg
*.scr
/cfg/config.cfg
/cfg/config_arena.cfg




